@import "tailwindcss";

@theme {
  --animate-blink: blink 1s step-end infinite;

  @keyframes blink {
    0%,
    100% {
      opacity: 0.2;
    }

    50% {
      opacity: 1;
    }
  }
} /* TODO: This ought to work for general purpose blink but for the typer it should alternate between colors not opacities */

:root {
  color: var(--slate-900);
  color-scheme: light;
  font-family:
    "Noto Serif", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;

  --green: #618833;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --cyan-50: #ecfeff;
  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #76e4f7;
  --cyan-400: #0bc5ea;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-800: #155e75;
  --cyan-900: #164e63;
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
}

::-webkit-scrollbar {
  display: none;
}

* {
  overflow: hidden;
  box-sizing: border-box;
}

input {
  padding: 4px;
  border: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
}

input:hover {
  background-color: var(--cyan-50);
  cursor: pointer;
}


input:focus,
input:focus-visible {
  background-color: var(--cyan-50);
  outline: none;
}

body {
  margin: 0;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  user-select: none;
}

h3 {
  margin: 4px 0;
  font-size: 1.2em;
  line-height: 1.1;
  user-select: none;
}

h4 {
  margin: 2px 0;
  font-size: 1.1em;
  user-select: none;
}

button,
label {

  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  padding: 0.4em 0.8em;
  border: 1px solid transparent;
  border-radius: 8px;

  appearance: none;
  background-color: var(--slate-200);
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  place-content: center center;
  text-align: center;

  transition: background-color 0.25s;
  user-select: none;
}

button:hover,
label:hover,
button.active {
  background-color: var(--cyan-300);
}

button.disabled,
label.disabled {
  color: var(--slate-400);
  cursor: auto;
}

button.disabled:hover,
label.disabled:hover,
button.disabled:active,
label.disabled:active {
  background-color: var(--slate-200);
}
