:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;

  color: var(--slate-900);
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --cyan-50: #ecfeff;
  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #76E4F7;
  --cyan-400: #0bc5ea;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-800: #155e75;
  --cyan-900: #164e63;
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;

}

* {
  box-sizing: border-box;
  overflow: hidden;
}

input:hover {
  background-color: var(--cyan-50);
  cursor: pointer;
}

input {
  background-color: transparent;
  border: 0;
  padding: 4px;
  text-align: center;
  font-weight: 700;
  font-size: 1.1em;
}

input:focus, input:focus-visible {
  outline: none;
  background-color: var(--cyan-50);
}

body {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.2em;
  line-height: 1.1;
  margin: 4px 0;
}

h4 {
  font-size: 1.1em;
  line-height: 1.1;
  margin: 4px 0;
}

button, label {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em .8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--slate-200);

  display: inline-flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;

  appearance: none;

  transition: background-color 0.25s;
}
button:hover, label:hover {
  background-color: var(--cyan-300);
}

button.active {
  background-color: var(--cyan-300);
}

